/* LIGHT MODE */

:root {
	/* Colors */
	--bg: #fff;

	/* Face animation */
	--tl-1: url(../assets/face-animation-light/tl-1.png);
}

/* COLOR MODE TOGGLE BUTTON */

#color-mode {
	/* background: var(--bg-alt-2); */
	background: red;
	height: 2.75rem;
	width: 4rem;
	border-radius: 3rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}

#toggle-button {
	background-image: var(--sun);
	background-size: cover;
	cursor: pointer;
}
